@font-face {
    font-family: 'pp_moriextralight';
    src: url('../fonts/PP_Mori/ppmori-extralight-webfont.woff2') format('woff2'),
         url('../fonts/PP_Mori/ppmori-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pp_moriextralight_italic';
    src: url('../fonts/PP_Mori/ppmori-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/PP_Mori/ppmori-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pp_moriregular';
    src: url('../fonts/PP_Mori/ppmori-regular-webfont.woff2') format('woff2'),
         url('../fonts/PP_Mori/ppmori-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pp_moriregular_italic';
    src: url('../fonts/PP_Mori/ppmori-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/PP_Mori/ppmori-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pp_morisemibold';
    src: url('../fonts/PP_Mori/ppmori-semibold-webfont.woff2') format('woff2'),
         url('../fonts/PP_Mori/ppmori-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pp_morisemibold_italic';
    src: url('../fonts/PP_Mori/ppmori-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/PP_Mori/ppmori-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Krylon';
    src: url('../fonts/Krylon/Krylon-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

// Variables

:root{
    // Couleurs
    --main-blue: #182836;
    --light-blue: #425A6E;
    --grey-blue: #2B333A;
    --main-white: #F2F2F2;
    --gold: #C7B588;
    --light-gold: #C7B588;
    --main-dark: #303030;

    // Fonts

}

// Paramètre de base

h1,h2,h3{
    font-family: 'Krylon',sans-serif;
}

h1,h2{
    font-size: 3.75em;
}

h3{
    font-size: 2.5em;
}

p,span,strong, label{
    font-family: 'pp_moriregular',sans-serif;
    font-size: 1em;
}

button{
    border-radius: 0!important;
    height: 50px;
    font-size: 1.25em;
    font-family: 'Krylon',sans-serif;
    a{
        font-family: 'Krylon',sans-serif;
    }

}

body{
    box-sizing: border-box;
    background-color: var(--main-blue);

}

header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 37px;
    background-color: var(--main-blue);
    .logo{
        font-family: 'Krylon', sans-serif;
        font-size: 2.5em;
        color: var(--main-white);
        height: 50px;
        margin: auto 0;
    }
    nav{
        height: 50px;
        width: 730px;
        margin: auto 0;
    }
    ul{
        margin: 10px 0;

    }
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: var(--main-white);
        font-size: 1.25em;
    }
}

footer{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr 10px ;
    grid-gap: 20px;
    padding: 0 80px;
    background-color: var(--main-dark);
    a{
        text-decoration: none;
        color: var(--main-white);
    }
    .contact{
        grid-column: 3/span 2;
        grid-row: 1;
        margin: 0 auto;
        span{
            font-size: 0.875em;
        }
    }
    .infos-pratiques{
        grid-column: 5/span 4;
        grid-row: 1;
        margin: 0 auto;
    }
    .footer-nav{
        grid-column: 8/span 3;
        grid-row: 1;
        margin: 0 auto;
    }
    .copyright{
        grid-column: 1/span 12;
        grid-row: 2;
        font-size: 0.75em;
    }
}

//HomePage

.homePage h1,.homePage h2{
    text-transform: uppercase;
}

.image-background-home{
}

.loom-title{
    width: 350px;
    h1{
        font-family: 'pp_moriregular_italic',sans-serif;
        font-size: 3.75em;
    }
}

.loom-button{
    a{
        text-decoration: none;
        color: var(--main-white);
    }
    a:hover{
        color: var(--main-blue);
    }
}

.products{
    background-color: var(--main-blue);
    padding: 80px 0 140px 0;
}

.main-products{
    margin-bottom: 120px;
    .card{
        border-radius: 0;
        border: none;
        color: var(--main-white);
        background-color: var(--main-blue);
    }
    strong{
        font-family: 'Krylon',sans-serif;
        font-size: 1.875em;
    }
}

.main-products-title{
    color:var(--main-white);
    margin-bottom: 80px;
}

.custom-card{
    .card{
        background-color: var(--light-gold);
        color: var(--grey-blue);
        border-radius: 0;
        border: none;
    }
    .card-body{
        padding: 80px 80px 80px 100px;
    }
    .custom-card-btn{
        background-color: var(--main-blue);
        a{
            color: var(--main-white);
            text-decoration: none;
        }
    }
}

.catalogue{
    background-color: var(--main-white);
    padding: 80px 0 160px 0;
    h2{
        color: var(--main-blue);
    }
}

.materials{
    color: var(--main-white);
    background-color: var(--main-blue);
    padding: 80px 0 140px 0;
}

.process{
    color: var(--main-white);
    background-color: var(--light-blue);
    padding: 80px 0 140px 0;
}

.custom{
    background-color: var(--main-white);
    padding: 80px 0 140px 0;
    color: var(--main-dark);
}

.subtitle{
    font-size: 0.875em;
    text-transform: uppercase;
}

.thumbnail-home{
    margin-top: -150px;
}

//Page produit

.product{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    min-height: 886px;
    grid-gap: 20px;
    padding: 80px 0;
    margin: 0 80px;
}

.images_produit{
    grid-column: 2/span 6;
    display: grid;
    margin: 0 auto;
    height: 766px;
    grid-gap: 26px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    a{
        height: 370px;
    }
}

.description_produit{
    grid-column: 9/ span 4;
    h1{
        margin: 0;
    }
    button{
        width: 80%;
        margin: auto;
        height: 50px;
    }
    .btn-secondary{
        background-color: var(--gold);
        color: var(--main-blue);
        border: none;
    }
}

.price{
    font-size: 2.25em;
}

.recommandations{
    padding: 80px 0;
    background-color: var(--main-blue);
    .card{
        border-radius: 0;
        border: none;
        color: var(--main-white);
        background-color: var(--main-blue);
    }
    strong{
        font-family: 'Krylon',sans-serif;
        font-size: 1.875em;
    }
}

.recommandations-title{
    color:var(--main-white);
    margin-bottom: 80px;
}

//Page catalogue

#cataloguePage{
    background-color: var(--main-blue);
    color: var(--main-white);
    padding: 0 80px;
    .products{
        .card{
            background-color: var(--main-white);
            color: var(--main-dark);
            padding-top: 60px;
            a{
                margin: auto;
            }
            .card-body{
                padding-top: 60px;
            }
        }
    }
}

.catalogue-title{
    padding-top : 35px;
}

.catalogue-crud{
    padding:  20px 0;
    border-bottom: var(--gold) 3px solid;
    *{
        height: 40px;
    }
    .dropdown{
        button{
            width: 200px;
        }
    }
    .container{
        width: 420px;
        grid-gap: 20px;
        col{
            width: 200px;
        }
    }
}

.customisable{
    background-color: var(--gold)!important;
    color: var(--main-white);
    border: none!important;
}

.eco-responsible{
    border: none!important;
}

//page d'inscription
#inscriptionPage{
    background-color: var(--main-white);
}

#SubmitButton{
    width: 200px;
    background-color: var(--main-blue);
    font-family: 'Krylon',sans-serif;
}

.form-control{
    border: none!important;
    border-bottom: 1px solid var(--main-dark)!important;
    background-color: transparent!important;
    border-radius: 0!important;
    :hover{
        border: var(--main-dark) 2px solid;
    }
}

.formInscription{
    padding: 120px;
}

@import "../../node_modules/bootstrap/scss/functions";

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/containers";

@import "../../node_modules/bootstrap/dist/css/bootstrap";
